body {
    background-color: rgb(31, 30, 30);
    background-image: url("../img/fondo_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Work Sans';
    color: rgb(245, 134, 31) ;
}
.logo1 {
    height: 70px;
    margin: 1em;
}
.navbar-nav li a{
    font-weight: 200;
}
.navbar-nav li a:hover {
    background-color: rgb(245, 134, 31);
}
hr {
    margin: 0px;
}
.fondo1 {
    height:350px;
    margin-top: 2em;
}
.subtitulo {
    color:rgb(187, 188, 189) ;
}
.copyright {
    font-weight: 200;
    color: rgb(253, 203, 128) ;
    margin-left: 0px;
    padding: 0px;
    text-align: center;
}
/* Acerca de mi */
.yo {
    height: 350px;
    margin: 4em;
}
.este_soy_yo {
    font-weight: 600;
}
.presentacion {
    color: rgb(187, 188, 189);
    font-weight: 200;
}
.link1 {
    text-decoration: none;
    color: rgb(245, 134, 31);
    padding: 0.5em;
    font-weight:400;
}
.link1:hover {
    background-color: rgb(245, 134, 31);
    color: white;
}
/* portafolio */
.card{
    width: 18rem;
    background-color: black;
    color:rgb(245, 134, 31) ;
}
.card-title {
    font-weight: 400;   
}
.card-text {
    font-weight: 200;
    color: rgb(187, 188, 189);
}
.btn {
    background-color: rgb(31, 30, 30);
    color:  rgb(187, 188, 189);
    border-color: rgb(245, 134, 31);
}
/* contacto */
.logo_contacto{
    height: 150px;
    margin: 5em;
}
i{
    font-size: 40px;
    color:  rgb(187, 188, 189);
}
.mapa {
    height: 400px;
}
.subtitulo-contacto {
    color:rgb(253, 254, 255) ;
    font-weight: 200;
}
form {
    width: 400px;
}
/* cv */
.curriculum{
    font-size: 40px;
    font-weight: 200;
}
.mi_nombre {
    font-weight: 200;
    font-size: 30px;
}
.objetivo {
    font-size: 30px;
    font-weight: 200;
}
.foto_cv {
    height: 250px;
}
.experiencia_educacion {
    font-weight: 200;
    font-size: 40px;
}
/* hoja de estilos general */